<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><marquee behavior="" direction=""><h1 style="color:rgb(170, 100, 200);">CAPTAIN AMERICA</h1></marquee></center>
    <h2 style="color:rgb(30, 255, 135);">Captain America is a fictional superhero from Marvel Comics</h2>
    <h2 style="color:rgb(30, 60, 255);">Captain America is traditionally seen as one of the greatest heroes of the Marvel Universe.</h2>
</body>
</html>