<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><marquee behavior="" direction=""><h1 style="color:rgb(119, 184, 72);">THOR ODINSON</h1></marquee></center>
    <h2 style="color:rgb(30, 255, 135);">Thor is a prominent god in Germanic paganism. He was the most popular of all the gods.</h2>
    <h2 style="color:DodgerBlue;">Thor is also a Marvel character based on the Norse mythological god.</h2>
</body>
</html>